<h1>Milestones</h1>

<%= link_to 'New milestone', new_milestone_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Due on</th>
  </tr>

<% for milestone in @milestones %>
  <tr>
    <td><%=h milestone.name %></td>
    <td><%=h milestone.due_on %></td>
    <td><%= link_to 'Show', milestone %></td>
    <td><%= link_to 'Edit', edit_milestone_path(milestone) %></td>
    <td><%= link_to 'Destroy', milestone, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= debug current_user.group.milestones%>