<h1>New Quick Tag</h1>

<%= error_messages_for :tag_favorite %>

<% form_for(@tag_favorite) do |f| %>
  <p>
    <label><b>Tag</b></label>
    <%= text_field_tag :tag %>
  </p>

	<% if admin?%>	
		<p><label><b>Group: </b></label> <%= f.select(:group_id, ( [[ 'Global', nil ]] + Group.find(:all).collect {|p| [ p.name, p.id ] } ) ) %></p>
	<% end %>

  <p>
    <label>&nbsp;</label>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', tag_favorites_path %>