<h1>Users</h1>


<% if admin? %>    
<table>
  <tr>
    <th>Name</th>
    <th>Role</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%=h user.login %></td>
    <td><%= "Administrator" if user.admin? %></td>
    <td><%= "Email: #{activate_path(:activation_code => user.activation_code)}" unless user.activated? or !admin? %></td>
		<td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% else %>
	<%= @users.collect { |u| "#{link_to u.login.capitalize, u} " }.flatten %>
<% end %>

