<h2><%=@user.login.capitalize %>'s Dashboard</h2>		
<h3><%=@user.login.capitalize %>'s Execution Summary</h3
<table border="0" class="padded" cellspacing="0">
	<tr>
		<th>Playlist</th>
		<th>Status of test cases assigned to <%=@user.login.capitalize%></th>
	</tr>
<% for playlist in @user.associated_playlists%>
	<% playlist_test_cases = playlist.playlist_test_cases.find_all_by_user_id(@user.id, :conditions => {'test_cases.active' => 1 }, :include => :test_case ) %>
	<tr>
		<td><%= link_to playlist.title, playlist%></td>
		<td>
		<% playlist_test_cases.group_by(&:last_result).each do |k,v| %>
			<%= TestCaseExecution::RESULTS[k] %>:<%= v.size%>
		<% end %>
		</td>
	</tr>
<%end %>
</table>

<% @test_cases = @user.test_cases.find_tagged_with('Needs Automation') %>
<% if @test_cases.size > 0 %>
<h3>Test Cases Needing Automation</h3>
<table class="padded">
  <tr>
    <th>Category</th>
    <th>Test Case</th>
	<% for test_case in @test_cases %>
	<tr>
		<td><%= test_case.category.ancestor_cache%></td>
		<td><%= link_to test_case.title, test_case %></td>
	</tr>
	<% end %>
</table>
<% end %>

<% if @user.test_case_executions.size > 0 && group_admin? %>
<h3><%=@user.login.capitalize %>'s Execution History</h3>
<table class="padded">
  <tr>
    <th>Date</th>
    <th>User</th>
    <th>Result</th>
    <th>Bug</th>
    <th>Playlist</th>
    <th>Test Case</th>
  </tr>
<% @hide_users = true %>
<%= render :partial =>  @user.test_case_executions.find(:all, :limit => 25) %>
</table>
<% end %>

<h3>Settings</h3>
<p>
<%= link_to "Change My Password", edit_user_path(@user)%>
</p>