<h1>New file_attachment</h1>

<%= error_messages_for :file_attachment %>

<% form_for(@file_attachment, :html => { :multipart => true }) do |f| %>
  <p>
    <b>Test case</b><br />
    <%= f.select(:test_case_id, TestCase.find(:all).collect {|p| [ p.title, p.id ] } ) %>
  </p>

 <%= f.file_field :uploaded_data %>


  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', file_attachments_path %>
