<%#= link_to_function str, "$('test_case_execution_#{results.id}').toggle()"%>
<!-- <tr id="test_case_execution_<%= results.id%>"> -->
	<tr class='<%=class_name%>' style='display:none'>
		<td colspan=4><%= results.comment%></td>
		<td><%= results.user%></td>
		<td><%= results.to_html%></td>
		<td><%= results.bug_url%></td>
		<td><%= results.created_at%></td>
		<td></td>
		<td></td>
	</tr>
<!--
	</tr>
-->