<table class="padded" style="border:1px solid #333">
	<th>Comments</th>
	<th>Ran by</th>
	<th>Result</th>
	<th>Bug #</th>
	<th>Date</th>
	<% for test_case_execution in results.test_case_executions%>
	<tr>
		<td><%= test_case_execution.comment%></td>
		<td><%= test_case_execution.user%></td>
		<td><%= result_to_html test_case_execution.result%></td>
		<td><%= test_case_execution.bug_url%></td>
		<td><%= test_case_execution.created_at%></td>
	</tr>
	<% end %>
</table>

