<%= javascript_include_tag "fckeditor/fckeditor" %>
<% if params[:clone] %>
<h1>Cloning test case</h1>
<% else %>
<h1>Editing test case</h1>
<% end %>

<%= error_messages_for :test_case %>

<% form_for(@test_case, :url => test_case_path(@test_case), :html => { :multipart => true }) do |f| %>
	<%= render :partial => 'form', :object => f%>
	<%= hidden_field_tag :clone, 1 if params[:clone]%>
	<p>
	  <label>Attachments:</label>
		<div>
		<% for file_attachment in @test_case.file_attachments %>
			<div>
			<%= link_to file_attachment.filename, file_attachment.public_filename if file_attachment.filename%>
			<%= link_to 'Delete', file_attachment, :confirm => 'Are you sure?', :method => :delete %>
		  </div>
		<% end %>
		</div>
	</p>
	<p>
		<label>Add an attachment:</label>
	   <%= f.file_field :uploaded_data %>
	</p>
  <p>
	<label>&nbsp;</label>
    <%= f.submit (params[:clone] ? "Clone test case" : "Save test case") %>
  </p>
<% end %>
<p>
</p>
<%= link_to 'Show', test_case_path(@test_case) %> |
<%= link_to 'Back', test_cases_path %>
