<h1><%= (@category.ancestors + [@category]).collect(&:name).join(' \ ') if @category%> Test Cases</h1>
<% if @category %>

<p>	<%= link_to 'New test case', new_test_case_path(:category_id => params[:category_id])  %> |
	<%= link_to "New sub-category of #{@category.name}", new_category_path(:parent_id => params[:category_id])  %></p>

<% end %>
<% if @test_cases.empty?%>
	<< Select a category or search
	<% form_tag test_cases_path, :method => 'get' do %>
	  <%= hidden_field_tag :category_id, @category.id unless @category.nil?%>
	  <%= text_field_tag :q, params[:q], :size => 55, :id => :search_box_big, :type => :search, :style => 'font-size:22px; padding:4px' %>
	<% end %>
<% else %>
<table class="padded" cellspacing="0">
  <tr>
	  <% if logged_in? %><th></th><% end %>
    <% if @category.nil? %><th>Category</th><% end %>
    <th>Title</th>
    <th>Owner</th>
    <th>Tags</th>
	<% if @total_hits %>
	<th>Score</th>
	<% end %>
  </tr>

<% for test_case in @test_cases %>
	<tr style="background-color:<%= cycle("#fff", "#E6E6E6", :name => "colors") -%>">
	<% if logged_in? %>
		<td>
				<%= check_box_tag 'pickme', test_case.id, false, :onClick => 'pick(this)'%>
		</td>
	<%end %>
	<% if test_case.category && @category.nil? %>
    <td><%= (test_case.category.ancestors + [test_case.category]).collect(&:name).join(' \ ') %></td> 
	<% end %>
    <td><%=link_to (h test_case.title), test_case %></td>
    <td><%=h test_case.user.login if test_case.user_id %></td>
    <td><%=h test_case.tag %></td>
	<% if @total_hits %>
	<td>
		<div style="width:52px;border:1px solid black">
		<div style="height:8px;background-color:#8888ff;width:<%=(test_case.ferret_score*50).round%>px;border:1px solid #6666FF"></div>
		</div>
	</td>
	<% end %>
	<td><%= link_to 'Edit', edit_test_case_path(test_case) %></td>
	<td><%= link_to 'Clone', edit_test_case_path(test_case, :clone => true ) %></td>

	<td>
		<% remote_form_for(@playlist_test_case || PlaylistTestCase.new(:test_case_id => test_case.id), :loading=>"Element.toggle('spinner_#{test_case.id}')",:complete => "Element.toggle('spinner_#{test_case.id}')") do |f| %>
		    <%= f.select(:playlist_id, @playlist_collection ) %>
		    <%= f.hidden_field(:test_case_id ) %><%= f.submit "Add to playlist" %>
			<%=image_tag 'spinner.gif', :id => "spinner_#{test_case.id}", :style => "display:none"%>
		<% end if logged_in? && !@playlists.empty?%>
	</td>
  </tr>
<% end %>
</table>

<br />
<% end %>

<div id="multi_action" style="display:none">
	<% form_for(PlaylistTestCase.new, :loading=>"Element.toggle('spinner_multi')",:complete => "Element.toggle('spinner_multi')") do |f| %>
	    Add selected test cases to playlist:
	    <%= f.select(:playlist_id, @playlist_collection ) %>
	    <%= hidden_field( :playlist_test_case, :ids ) %><%= f.submit "Add to playlist" %>
		<%=image_tag 'spinner.gif', :id => "spinner_multi", :style => "display:none"%>	
	<% end if logged_in?%>
</div>

<% javascript_tag do %>
  var multiple_ids = new Array();
	function pick(o)
	{
		if (o.checked)
		{
			multiple_ids.push(o.value);
		}
		else
		{
			multiple_ids = multiple_ids.without(o.value);
		}
		$('playlist_test_case_ids').value = multiple_ids;
		if (multiple_ids != '')
			$('multi_action').show();
		else
			$('multi_action').hide();
	}
<% end %>
