<h1><%= (@category.ancestors + [@category]).collect(&:name).join(' \ ') if @category%> Test Cases</h1>
<% if @category %>

<p>	<%= link_to 'New test case', new_test_case_path(:category_id => params[:category_id])  %> |
	<%= link_to "New sub-category of #{@category.name}", new_category_path(:parent_id => params[:category_id])  %></p>

<% end %>
<% if @test_cases.empty?%>
<< Select a category or search
<% form_tag test_cases_path, :method => 'get' do %>
  <%= hidden_field_tag :category_id, @category.id unless @category.nil?%>
  <%= text_field_tag :q, params[:q], :size => 55, :id => :search_box_big, :type => :search, :style => 'font-size:22px; padding:4px' %>
<% end %>
<p><span style='font-size:10px'>
<b>Example:</b> reporting AND payment NOT deferred <br/>
<%= link_to 'Query Syntax', 'http://lucene.apache.org/java/docs/queryparsersyntax.html' %>
</span></p>

<% else %>
<table border=1>
  <tr>
    <% if @category.nil? %><th>Category</th><% end %>
    <th>Title</th>
    <th>Owner</th>
    <th>Tags</th>
	<% if @total_hits %>
	<th>Score</th>
	<% end %>
  </tr>

<% for test_case in @test_cases %>
  <tr>
	<% if test_case.category && @category.nil? %>
    <td><%= (test_case.category.ancestors + [test_case.category]).collect(&:name).join(' \ ') %></td> 
	<% end %>
    <td><%=link_to (h test_case.title), test_case %></td>
    <td><%=h test_case.user.login if test_case.user_id %></td>
    <td><%=h test_case.tag_list %></td>
	<% if @total_hits %>
	<td><%= test_case.ferret_score%></td>
	<% end %>
	<td><%= link_to 'Edit', edit_test_case_path(test_case) %></td>
	<td>
		<% remote_form_for(@playlist_test_case || PlaylistTestCase.new(:test_case_id => test_case.id), :loading=>"Element.toggle('spinner_#{test_case.id}')",:complete => "Element.toggle('spinner_#{test_case.id}')") do |f| %>
		    <%= f.select(:playlist_id, @playlist_collection ) %>
		    <%= f.hidden_field(:test_case_id ) %><%= f.submit "Add to playlist" %>
			<%=image_tag 'spinner.gif', :id => "spinner_#{test_case.id}", :style => "display:none"%>
		<% end if logged_in? && !@playlists.empty?%>
	</td>
  </tr>
<% end %>
</table>

<br />
<% end %>
