<% if @category %>
<h3><%= (@category.ancestors.reverse + [@category]).collect {|c| link_to c.name, test_cases_path(:categories => c) }.join(' \ ') %></h3>
	<% if params[:q] %>
	<p style="border: 1px solid #90A0A2; padding:10px;background-color:#D4E4D0">
	<span style="font-size:12px">Searching in <b><%= (@category.ancestors.reverse + [@category]).collect(&:name).join(' \ ') %></b>. <%= link_to "Search All Categories for <i>'#{params[:q]}'</i> ...", test_cases_path(:q => params[:q])%></span>
	</p>
	<% else %>
	<p>	
		<%= link_to 'New test case', new_test_case_path(:category_id => params[:category_id])  %> |
		<%= link_to "New sub-category of #{@category.name}", new_category_path(:parent_id => params[:category_id]) if ( logged_in? && (group_admin? || @category.ancestors.size > 0) && @category.group_id == current_user.group_id)  %>
	</p>
	<% end %>

<% end %>

<< Select a category or search
<% form_tag test_cases_path, :method => 'get' do %>
  <%= hidden_field_tag :category_id, @category.id unless @category.nil?%>
  <%= text_field_tag :q, params[:q], :size => 55, :id => :search_box_big, :type => :search, :style => 'font-size:22px; padding:4px' %>
  <span style='font-size:10px;margin-left:10px'>
	<%= link_to 'Query Syntax Help', "/query.html", :target => '_blank' %>
	</span>					
<% end %>

<% if @test_cases.empty?%>
	
<% else %>

<%= will_paginate @test_cases %>
<div id="multi_action" style="display:none">
	<% form_for(PlaylistTestCase.new, :loading=>"Element.toggle('spinner_multi')",:complete => "Element.toggle('spinner_multi')") do |f| %>
	    Add selected test cases to playlist:
	    <%= f.select(:playlist_id, @playlist_collection ) %>
	    <%= hidden_field( :playlist_test_case, :ids ) %><%= f.submit "Add to playlist" %>
		<%=image_tag 'spinner.gif', :id => "spinner_multi", :style => "display:none"%>	
	<% end if logged_in?%>
</div>

<table class="padded" cellspacing="0">
  <tr>
	  <% if logged_in? %><th><%=check_box_tag :select_all, 1, false, :onClick => 'selectAll(this.checked)'%></th><% end # space for checkboxes %>
<% if false &&  @category.nil? %><th>Category</th><% end %>
    <th>Title</th>
    <th>Owner</th>
    <th>Tags</th>
<% unless params[:q] %>  
  <th></th>
<% end %>
	<th>Add to Playlist</th>
  <th></th>
  </tr>

<% pte = PlaylistTestCase.new %>
<% @has_playlists = logged_in? && !@playlists.empty?%>
<% category_id = 0 %>
<% for test_case in @test_cases %>

  <% if category_id != test_case.category_id%>
		<% if test_case.category && params[:q] %>
    	<tr style="background-color:<% reset_cycle("colors") -%>">
				<td colspan="4"><b style="margin-bottom:0px;padding-bottom:0px"><%= (test_case.category.ancestors.reverse + [test_case.category]).collect(&:name).join(' \ ') %></b></td>
			</tr>
			<% end %>
		<% category_id = test_case.category_id%>
	<% end %>


  <% pte.test_case_id = test_case.id%>
	<tr style="background-color:<%= cycle("#EBF3FE","#fff", :name => "colors") -%>">
	<% if logged_in? %>
		<td>
				<%= check_box_tag 'pickme', test_case.id, false, :onClick => 'pick(this)', :class=>'cbTestCase'%>
		</td>
	<%end %>
	<% if false && test_case.category && params[:q] %>
    <td><%= (test_case.category.ancestors.reverse + [test_case.category]).collect(&:name).join(' \ ') %></td> 
	<% end %>
<!--    <td>
			<% if false && @scores%><% ((100 - @scores[test_case.id] * 2) / 20).times do %>*<% end %><% end %>
		</td>
-->
		<td	>
			<%=link_to (h test_case.title), test_case %></td>
    <td><%=h test_case.user.login if test_case.user %></td>
    <td><%=h test_case.tag %></td>
	<% unless params[:q]%>
	<td><%= link_to 'Edit', edit_test_case_path(test_case) %></td>
	<td><%= link_to 'Clone', edit_test_case_path(test_case, :clone => true ) %></td>
  <% end %>
	<td nowrap>
		<% remote_form_for(pte, :loading=>"Element.toggle('spinner_#{test_case.id}')",:complete => "Element.toggle('spinner_#{test_case.id}')") do |f| %>
		    <%= f.select(:playlist_id, @playlist_collection)%><%= f.hidden_field(:test_case_id ) %><%= f.submit "Add" %>
			<%=image_tag 'spinner.gif', :id => "spinner_#{test_case.id}", :style => "display:none"%>
		<% end if true && logged_in? && @has_playlists %>
	</td>
  </tr>
<% end %>
</table>

<br />
<% end %>


<% javascript_tag do %>
  var multiple_ids = new Array();
	function pick(o)
	{
		if (o.checked)
		{
			multiple_ids.push(o.value);
		}
		else
		{
			multiple_ids = multiple_ids.without(o.value);
		}
		$('playlist_test_case_ids').value = multiple_ids;
		if (multiple_ids != '')
		{
			$('multi_action').show();
			//$('multi2').innerHTML = $('multi_action').innerHTML;
		}
		else
		{
			$('multi_action').hide();
			//$('multi2').innerHTML = '';
		}
	}
	function selectAll(f)
	{
		ar = document.getElementsByClassName("cbTestCase");
		for (i=0;i<ar.length;i++)
		{
			ar[i].checked = f;
			pick(ar[i]);
		}
			
	}
<% end %>
