<%= javascript_include_tag "fckeditor/fckeditor" %>
<h1>New test_case</h1>

<%= error_messages_for :test_case %>

<% form_for(@test_case) do |f| %>
	<p>
	  <b>Category</b><br />
		<%= f.select(:category_id, Category.find(:all).collect {|p| [ p.name, p.id ] } ) %>
	</p>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

 <p>
    <b>Body</b><br />
        <div id="<%= fckeditor_div_id('test_case', 'body') %>">
        <%= fckeditor_textarea( "test_case", "body" , :width => 800, :height => 600) %>
    </div>
    <%#= f.text_area :body %>
  </p>

  <p>
    <b>Owner</b><br />
    <%= f.select(:user_id, User.find(:all).collect {|p| [ p.login, p.id ] } ) %>
  </p>

  <p>
    <b>Priority in feature</b><br />
    <%= f.text_field :priority_in_feature %>
  </p>

  <p>
    <b>Priority in product</b><br />
    <%= f.text_field :priority_in_product %>
  </p>

  <p>
    <b>Estimate in hours</b><br />
    <%= f.text_field :estimate_in_hours %>
  </p>

  <p>
    <b>Automated</b><br />
    <%= f.check_box :automated %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', test_cases_path %>
