<% if @category_id != playlist_test_case.test_case.category_id && params[:sort] == "category"%>
  	<tr style="background-color:<% reset_cycle("colors") -%>">
			<td colspan="4"><b style="margin-bottom:0px;padding-bottom:0px"><%= playlist_test_case.test_case.category.ancestors_cache %> \ <%=playlist_test_case.test_case.category.name%></b></td>
		</tr>
	<% @category_id = playlist_test_case.test_case.category_id%>
<% end %>

<tr id="playlist_test_case_<%=playlist_test_case.id%>" style="background-color:<%= background_color = cycle("#fff", "#E6E6E6", :name => "colors") %>">
	<td>
		<%#= playlist_test_case.id%>
		<%= check_box_tag 'pickme', playlist_test_case.id, false, :onClick => 'pick(this)', :class => 'cbTestCase'%>
	</td>
	<td>
		<%= text_field_tag :playlist_test_case, playlist_test_case.position, :size => 4, :tabindex=>2, :onChange => "sequence(#{playlist_test_case.id},this.value)" %>
	</td>
  <td>
		<%=h playlist_test_case.test_case.category.name unless params[:sort] == "category"%>
		<%#= (playlist_test_case.test_case.category.ancestors.reverse + [playlist_test_case.test_case.category]).collect(&:name).join(' \ ') if playlist_test_case.test_case.category%>
	</td>
  <td>
		<%=link_to playlist_test_case.test_case.title, playlist_test_case.test_case %>
	</td>
  <td><%=h playlist_test_case.user.login if playlist_test_case.user_id %></td>
	<td>
		<% test_case_execution.playlist_test_case_id = playlist_test_case.id %>
		<% remote_form_for( test_case_execution, :html => {:id => "form_#{playlist_test_case.id}"}) do |f| %>
			<%= f.select :result, [['Execute...',''], ['Pass',1], ['Fail',2], ['Blocked',3],['Not Implemented',4]], {}, {:onChange => "this.value ? $('exec_form_playlist_test_case_#{playlist_test_case.id}').show() : $('exec_form_playlist_test_case_#{playlist_test_case.id}').hide();"} %>
		  <div id="exec_form_playlist_test_case_<%=playlist_test_case.id%>" style="display:none">
		    <b>Bug</b><br />
		    <%= f.text_field :bug_id, :size => 15 %>
		  </p>

		  <p>
		    <b>Comment</b><br />
		    <%= f.text_area :comment, :rows => 4, :cols => 14 %>
		  </p>

		  <p>
		    <%= f.submit "Save" %>
		  </p>
		    <%= f.hidden_field(:playlist_test_case_id) %>
		  </div>
		<% end if logged_in?%>
	</td>
	<td id="playlist_test_case_<%=playlist_test_case.id%>_result">
	<%= result_to_html playlist_test_case.last_result%>
	<% if playlist_test_case.last_result == 0%>
		Not Run
	<% else %>
		<%= link_to_function 'History', "$('playlist').getElementsByClassName('playlist_test_case_#{playlist_test_case.id}').invoke('toggle');"%>
	<% end %>
	</td>
	<td id="playlist_test_case_<%=playlist_test_case.id%>_bugs">
			<%= playlist_test_case.test_case_executions.collect{ |e| "#{e.bug_url} " } %>
	</td>
	<td id="playlist_test_case_<%=playlist_test_case.id%>_last_run" nowrap><%=h playlist_test_case.test_case_executions.last.created_at.to_s(:short) if !playlist_test_case.test_case_executions.empty? %></td>
  <td><%=h playlist_test_case.test_case.priority_in_feature %></td>
	<td style="font-size:10px;line-height:9px;"><%= playlist_test_case.test_case.tag %></td>
  <td><%= link_to 'X', playlist_test_case, :confirm => 'Removing test case from playlist. Are you sure?', :method => :delete %></td>
</tr>
<tr class='playlist_test_case_<%=playlist_test_case.id%>' style='display:none;background-color:<%=background_color%>'>
	<td colspan=5></td>
	<td colspan=8 id='playlist_test_case_<%=playlist_test_case.id%>_results'>
	<%= render :partial => 'playlist_test_cases/results', :object => playlist_test_case %>
	</td>
</tr>
