<% if @summary%>
<table border="0">
	<caption><b>Execution Summary</b></caption>
	<tr>
		<td valign="top">
			<table border="1" cellspacing="0" cellpadding="4">
				<tr>
					<th></th>
					<% total = 0
					@summary.collect {|t| total += t.total.to_i}%>
					<% TestCaseExecution::RESULTS.each do |result_type| %>
							<th><%= result_type %></th>
					<% end %>

					<th>Bugs</th>
				</tr>
				<% if @user_summary %>
				<tr><td><%= current_user.login%></td>
					<% TestCaseExecution::RESULTS.each_index do |index| %>
					<% summary = @user_summary.find {|s| s.result == index } %>					
						<td align="center" valign="top">
						<% if summary%>	
							<b><%= summary.total%></b> <br/><%= (summary.total.to_i * 1.0 / total * 100 ).round 1%>%
						<% else %>
						 <b>0</b><br/>0%
						<% end %>
						</td>
					<% end %>
					<td></td>
				</tr>
				<% end %>
				<tr><td>Total</td>
				<% TestCaseExecution::RESULTS.each_index do |index| %>
				<% summary = @summary.find {|s| s.result == index } %>									

				<td align="center" valign="top">
				<% if summary%>	
					<b><%= summary.total%></b> <br/><%= (summary.total.to_i * 1.0 / total * 100 ).round 1%>%
				<% else %>
				 <b>0</b><br/>0%
				<% end %>
				</td>
				<% end %>
						<td align="center" valign="top"><b>
							<%= link_to @bugs.collect{ |e| e.bug_id.split ',' if e.bug_id }.flatten.compact.uniq.size, :q => params[:q], :show_report => (params[:show_report].nil?) %>
						</b></td>
				</tr>
			</table>
		</td>
		<td>
			<%= render(:partial => 'table_report', :locals => {:total => total, :mini_chart => (params[:show_report].nil?)}) %>
		</td>
	</tr>
</table>
<% if params[:show_report]%>
<div>
		<b>Bugs:</b><br>
		<%= link_to_bugs(@bugs)%>
		
</div>
<% end %>	

<% end %>