<h1>Playlists</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>User</th>
    <th>Milestone</th>
  </tr>

<% for playlist in @my_playlists %>
  <tr>
    <td><%=link_to playlist.title, playlist %></td>
    <td><%=h playlist.description %></td>
    <td><%=h playlist.user.login %></td>
    <td><%=h playlist.milestone_id %></td>
    <td><%#= link_to 'Destroy', playlist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% for playlist in @playlists %>
  <tr>
    <td><%=link_to playlist.title, playlist %></td>
    <td><%=h playlist.description %></td>
    <td><%=h playlist.user.login %></td>
    <td><%=h playlist.milestone_id %></td>
    <td><%#= link_to 'Destroy', playlist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New playlist', new_playlist_path %>
