<h1>Playlists</h1>
<table><tr><td valign=top>
<%= link_to 'New playlist', new_playlist_path %>
</td><td valign="top">&nbsp; or &nbsp;</td><td>
<% form_tag playlists_path, :method => 'get' do %>
  Search in playlists:
  <%= text_field_tag :q, params[:q], :id => :search_box, :type => :search %>
  <span style='font-size:10px;margin-left:10px'>
	<%= link_to 'Query Syntax Help', "/query.html", :target => '_blank' %>
	</span>					

<% end %>
</td></tr></table>
<% if params[:q] && !@playlists.empty?%>
	<table border="1">
		<caption><b>Execution Summary</b></caption>
	<tr>
		<th>Status</th>
		<th>Count</th>
	</tr>
	<% playlist_test_cases = @playlists.collect{|p| p.playlist_test_cases}.flatten %>
	<% total = playlist_test_cases.size %>
	<% playlist_test_cases.group_by(&:last_result).each do |k,v| %>
	<tr><td><%= TestCaseExecution::RESULTS[k] %></td><td width="20" align="center"><%= v.size%></td><td><%= (v.size * 1.0 / total * 100 ).round 1%>%</td></tr>
	<% end %>
	<tr>
		<td colspan=3>
			<b>Bugs:</b><%= playlist_test_cases.collect { |p| p.test_case_executions }.flatten.collect{ |e| "#{e.bug_url} " } %>
			</td>
	</tr>
	</table>
	<br/>
<% end %>

<table cellspacing="0" class="padded">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>User</th>
    <th>Milestone</th>
		<th></th>
		<th></th>
  </tr>

<% for playlist in @my_playlists %>
	<tr style="background-color:<%= cycle("#fff", "#EBF3FE", :name => "colors") -%>">
    <td><%=link_to playlist.title, playlist %></td>
    <td><%=truncate (h playlist.description), 75 %></td>
    <td><%=h playlist.user.login %></td>
    <td><%=h playlist.milestone.name if playlist.milestone %></td>
    <td><%= link_to 'Clone', new_playlist_path(:id => playlist.id) %></td>
    <td><%= link_to 'Delete', playlist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% unless @my_playlists.empty?%>
<!-- <tr>
	<td colspan=5>
		<h1>Other playlists</h1>
	</td>
</tr>
-->
<% end %>
<% for playlist in @playlists %>
	<tr style="background-color:<%= cycle("#fff", "#EBF3FE", :name => "colors") -%>">
    <td><%=link_to playlist.title, playlist %></td>
    <td><%=truncate (h playlist.description), 75 %></td>
    <td><%=h playlist.user.login %></td>
    <td><%=h playlist.milestone.name if playlist.milestone %></td>
    <td><%= link_to 'Clone', new_playlist_path(:id => playlist.id) %></td>
  </tr>
<% end %>
</table>


