<% if params[:id] %>
	<h1>Clone playlist</h1>
<% else %>
	<h1>New playlist</h1>
<% end %>

<%= error_messages_for :playlist %>

<% form_for(@playlist) do |f| %>
	<%= hidden_field_tag :clone_id, params[:id] %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <b>User</b><br />
    <%= f.select(:user_id, User.find(:all, :order => :login).collect {|p| [ p.login, p.id ] } ) %>
  </p>

  <p>
    <b>Milestone</b><br />
    <%= f.select(:milestone_id,  (Milestone.find_all_by_group_id(nil) + current_user.group.milestones).collect {|p| [ "#{p.name}", p.id ] } ) %>
  </p>

  <p>
		<% if params[:id] %>
		
    <%= f.submit "Clone Playlist", :id => 'submitbutton', :onclick => "$('submitbutton').hide();$('wait').show();" %>
		<% else %>
    <%= f.submit "Create" %>
		<% end %>
		<div id="wait" class="notice" style="display:none">
			<i>Cloning Test Case. Please Wait...</i>
		</div>
  </p>
<% end %>

<%= link_to 'Back', playlists_path %>
