<% javascript_tag do %>
  var multiple_ids = new Array();
  var sequence_tuples = new Array()
	function pick(o)
	{
		if (o.checked)
		{
			multiple_ids.push(o.value);
		}
		else
		{
			multiple_ids = multiple_ids.without(o.value);
		}
		$('assign_test_case_ids').value = multiple_ids;
		$('pass_test_case_ids').value = multiple_ids;
		$('remove_test_case_ids').value = multiple_ids;
		if (multiple_ids != '')
			$('multi_action').show();
		else
			$('multi_action').hide();
	}
	function sequence(k,v)
	{
		sequence_tuples.push(k + "=" + v);
		$('sequence_id_value_pairs').value = sequence_tuples;
		$('save_ordering').show();
	}
	function selectAll(f)
	{
		ar = document.getElementsByClassName("cbTestCase");
		for (i=0;i<ar.length;i++)
		{
			ar[i].checked = f;
			pick(ar[i]);
		}
			
	}	
<% end %>

<h1><%=h @playlist.title %> <span style="font-size:12px"><%= link_to ("Save as .doc", :format => :doc)%></span></h1>
<p>
  <%=h @playlist.description %>
</p>

<p>
  <b>Owner:</b>
  <%=h @playlist.user.login %>
	<% if @playlist.milestone %>
  	<b>Milestone:</b>
  	<%=h @playlist.milestone.name %>
	<% end %>
	<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
	<%= link_to 'Back', playlists_path %>
</p>

<table border="0" class="padded" cellspacing="0">
	<caption><b>Execution Summary</b></caption>
<tr>
	<th>Status</th>
	<th>Count</th>
	<th>%</th>
</tr>
<% total = @playlist.playlist_test_cases.size %>
<% @playlist.playlist_test_cases.group_by(&:last_result).each do |k,v| %>
<tr><td><%= TestCaseExecution::RESULTS[k] %></td><td width="20" align="center"><%= v.size%></td><td><%= (v.size * 1.0 / total * 100 ).round 1%>%</td></tr>
<% end %>
<tr>
	<td colspan=3>
		<b>Bugs:</b><%= @playlist.playlist_test_cases.collect { |p| p.test_case_executions }.flatten.collect{ |e| "#{e.bug_url} " } %>
		</td>
</tr>
</table>

<h2>Test Cases</h2>
<% unless @playlist.playlist_test_cases.empty?%>
<div style="align=right">
<%= link_to "Show All", playlist_path(@playlist, :show_all=>true) if session[:filtering] %>
<%= link_to "Hide cases that have been run", playlist_path(@playlist, :notrun => true) unless session[:filtering]%>
</div>
<table border="0" cellspacing="0" class="padded" id='playlist'>
  <tr>
	  <% if logged_in? %><th><%=check_box_tag :select_all, 1, false, :onClick => 'selectAll(this.checked)'%></th><% end # space for checkboxes %>
    <th><%= link_to '#', playlist_path(@playlist)%></th>
    <th><%= link_to 'Category', playlist_path(@playlist, :sort => :category)%></th>
    <th>Title</th>
    <th><%= link_to 'Assigned To', playlist_path(@playlist, :sort => :assigned)%></th>
		<th>Action</th>
    <th><%= link_to 'Recent Results', playlist_path(@playlist, :sort => :results) %></th>
    <th><%= "BugID" unless params[:notrun] %></th>
    <th><%= "Last Run" unless params[:notrun] %></th>
    <th><%= link_to 'Pri in feature', playlist_path(@playlist, :sort => :feature)%></th>
    <th><%= link_to 'Pri in product', playlist_path(@playlist, :sort => :product)%></th>
		<th></th>
  </tr>

	<%= render :partial => 'playlist_test_case', :collection => @playlist_test_cases %>
</table>

<div id="multi_action" style="display:none">
	<% form_for(:playlist, :url => pass_playlist_path(@playlist), :html => {:method => :put, :style => 'float:left;'}) do |f| %>
	  <%= hidden_field(:pass, :test_case_ids )%>
	    <%= f.submit "Mark all selected as Passed!" %>
	<% end %>
	<% form_for(:playlist, :url => assign_playlist_path(@playlist), :html => {:method => :put, :style => 'float:left;'}) do |f| %>
	  <%= hidden_field(:assign, :test_case_ids )%>
	    &nbsp; or <b>Assign Selected To:</b>
	    <%= f.select(:user_id, User.find(:all, :order => :login).collect {|p| [ p.login, p.id ] } ) %>
	    <%= f.submit "Assign" %>
	<% end %>
	<% form_for(:playlist, :url => remove_playlist_path(@playlist), :html => {:method => :delete}) do |f| %>
	  <%= hidden_field(:remove, :test_case_ids )%>
	    &nbsp; or 
			<input onclick="return confirm('About to remove checked test cases from this playlist. Are you sure?');" value="Remove" type="submit">
	<% end %>
</div>
<div id="save_ordering" style="display:none">
<% form_for(:playlist, :url => sequence_playlist_path(@playlist), :html => {:method => :put}) do |f| %>
  <%= hidden_field(:sequence, :id_value_pairs )%>
		<input value="Save Ordering" type="submit" tabindex="2">
<% end %>
</div>
<% else %>
  You've created an empty playlist. It's time to fill it.
	<%= link_to "Go find test cases", test_cases_path%>
<% end %>