<% javascript_tag do %>
  var multiple_ids = new Array();
	function foo(o)
	{
		if (o.checked)
		{
			multiple_ids.push(o.value);
		}
		else
		{
			multiple_ids = multiple_ids.without(o.value);
		}
		$('assign_test_case_ids').value = multiple_ids;
		$('pass_test_case_ids').value = multiple_ids;
		$('remove_test_case_ids').value = multiple_ids;
		if (multiple_ids != '')
			$('multi_action').show();
		else
			$('multi_action').hide();
	}
<% end %>

<h1><%=h @playlist.title %></h1>

<p>
  <%=h @playlist.description %>
</p>

<p>
  <b>Owner:</b>
  <%=h @playlist.user.login %>
  <b>Milestone:</b>
  <%=h @playlist.milestone_id %>
	<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
	<%= link_to 'Back', playlists_path %>
</p>

<h2>Test Cases</h2>
<table border=1 id='playlist'>
  <tr>
		<th></th>	
		<th>Action</th>
    <th>Category</th>
    <th>Title</th>
    <th>Assigned To</th>
    <th>Recent Results</th>
    <th>BugID</th>
    <th>Last Run</th>
    <th>Pri in feature</th>
    <th>Pri in product</th>
  </tr>

	<%= render :partial => 'playlist_test_case', :collection => @playlist.playlist_test_cases %>
</table>
<div id="multi_action" style="display:none">
	<% form_for(:playlist, :url => pass_playlist_path(@playlist), :html => {:method => :put, :style => 'float:left;'}) do |f| %>
	  <%= hidden_field(:pass, :test_case_ids )%>
	    <%= f.submit "Mark all selected as Passed!" %>
	<% end %>
	<% form_for(:playlist, :url => assign_playlist_path(@playlist), :html => {:method => :put, :style => 'float:left;'}) do |f| %>
	  <%= hidden_field(:assign, :test_case_ids )%>
	    &nbsp; or <b>Assign Selected To:</b>
	    <%= f.select(:user_id, User.find(:all).collect {|p| [ p.login, p.id ] } ) %>
	    <%= f.submit "Assign" %>
	<% end %>
	<% form_for(:playlist, :url => remove_playlist_path(@playlist), :html => {:method => :delete}) do |f| %>
	  <%= hidden_field(:remove, :test_case_ids )%>
	    &nbsp; or 
			<input onclick="return confirm('About to remove checked test cases from this playlist. Are you sure?');" value="Remove" type="submit">
	<% end %>
	
</div>
