<% javascript_tag do %>
  var multiple_ids = new Array();
	function pick(o)
	{
		if (o.checked)
		{
			multiple_ids.push(o.value);
		}
		else
		{
			multiple_ids = multiple_ids.without(o.value);
		}
		$('assign_test_case_ids').value = multiple_ids;
		$('pass_test_case_ids').value = multiple_ids;
		$('remove_test_case_ids').value = multiple_ids;
		if (multiple_ids != '')
			$('multi_action').show();
		else
			$('multi_action').hide();
	}
<% end %>

<h1><%=h @playlist.title %></h1>

<p>
  <%=h @playlist.description %>
</p>

<p>
  <b>Owner:</b>
  <%=h @playlist.user.login %>
	<% if @playlist.milestone %>
  	<b>Milestone:</b>
  	<%=h @playlist.milestone.name %>
	<% end %>
	<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
	<%= link_to 'Back', playlists_path %>
</p>
<h2>Test Cases</h2>
<% unless @playlist.playlist_test_cases.empty?%>
<div style="align=right">
<%= link_to "Show All", playlist_path(@playlist, :show_all=>true) if session[:filtering] %>
<%= link_to "Hide cases that have been run", playlist_path(@playlist, :notrun => true) unless session[:filtering]%>
</div>
<table border=1 id='playlist'>
  <tr>
		<th></th>	
		<th>Action</th>
    <th>Category</th>
    <th>Title</th>
    <th><%= link_to 'Assigned To', playlist_path(@playlist, :sort => :assigned)%></th>
    <th><%= link_to 'Recent Results', playlist_path(@playlist, :sort => :count)%></th>
    <th>BugID</th>
    <th>Last Run</th>
    <th><%= link_to 'Pri in feature', playlist_path(@playlist, :sort => :feature)%></th>
    <th><%= link_to 'Pri in product', playlist_path(@playlist, :sort => :product)%></th>
  </tr>

	<%= render :partial => 'playlist_test_case', :collection => @playlist_test_cases %>
</table>

<% for p in  @playlist.playlist_test_cases %>
<%#= debug p.test_case_executions%>
<% end %>
<div id="multi_action" style="display:none">
	<% form_for(:playlist, :url => pass_playlist_path(@playlist), :html => {:method => :put, :style => 'float:left;'}) do |f| %>
	  <%= hidden_field(:pass, :test_case_ids )%>
	    <%= f.submit "Mark all selected as Passed!" %>
	<% end %>
	<% form_for(:playlist, :url => assign_playlist_path(@playlist), :html => {:method => :put, :style => 'float:left;'}) do |f| %>
	  <%= hidden_field(:assign, :test_case_ids )%>
	    &nbsp; or <b>Assign Selected To:</b>
	    <%= f.select(:user_id, User.find(:all).collect {|p| [ p.login, p.id ] } ) %>
	    <%= f.submit "Assign" %>
	<% end %>
	<% form_for(:playlist, :url => remove_playlist_path(@playlist), :html => {:method => :delete}) do |f| %>
	  <%= hidden_field(:remove, :test_case_ids )%>
	    &nbsp; or 
			<input onclick="return confirm('About to remove checked test cases from this playlist. Are you sure?');" value="Remove" type="submit">
	<% end %>
</div>
<% else %>
  You've created an empty playlist. It's time to fill it.
	<%= link_to "Go find test cases", test_cases_path%>
<% end %>