<h2><%=h @playlist.title %></h2>
  <%=h @playlist.description %>
<p>
	  <b>Owner:</b>
  <%=h @playlist.user.login %>
	<% if @playlist.milestone -%>
  	<b>Milestone:</b>
  	<%=h @playlist.milestone.name %>
	<% end -%>
</p>
<% for playlist_test_case in @playlist_test_cases -%>
<% if params[:sort] == "category" && @category_id != playlist_test_case.test_case.category_id -%><h3><%= h playlist_test_case.test_case.category.ancestor_cache %> \ <%= h playlist_test_case.test_case.category.name%></h3><% @category_id = playlist_test_case.test_case.category_id -%>
<% end -%><h4 style='margin-left:.5in'><%= playlist_test_case.test_case.title %> (Pri <%= playlist_test_case.test_case.priority_in_feature %>)</h4><div style='margin-left:1.0in'><% unless params[:titles_only] == "true" %><%= playlist_test_case.test_case.body %><% end %></div><% end -%>

