<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <title>KoalaTrack: <%= controller.controller_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag "prototype", "effects", "application", "controls" %>
</head>
<body>
	<div id="container">
		<% if controller.controller_name == 'playlists' && params[:id] %>
		<style>
		#content {
			padding-top: 1em;
			padding-left:0px;
			margin: 0 0 0 -5px;
		}		
		body { 
		    background: url(/images/spaceit.gif) 0 0 repeat-y;
		}
		
		</style>
		<% else %>		
	   	<div id="navigation">
			<table border="0">
				<tr><td><%= image_tag 'logo-64.png'%></td><td style="font-size:18px">KoalaTrack<br/>
					</td></tr>
			</table>
			<% if logged_in? %>
			<% form_tag test_cases_path, :method => 'get' do %>
				<%= hidden_field_tag :category_id, @category.id unless @category.nil?%>
			  Search:
			  <%= text_field_tag :q, params[:q], :size => 15, :id => :search_box, :type => :search %>
			  <br/><span style='font-size:10px;margin-left:60px'>
				<%= link_to 'Query Syntax Help', "/query.html", :target => '_blank' %>
				</span>					
			<% end %><br/>
			<%= renderCategoryTree%>
			<% end %>
	   	</div>
		<% end %>
		<div id="banner">
			<div id="nav">
			<% if logged_in? %>
				<%= li_link_to_unless_current 'Home', current_user %>
				<%=	li_link_to_unless_current 'Test Cases', test_cases_path%>
				<%=	li_link_to_unless_current 'Playlists', playlists_path%>
			<% end %>
			<% if group_admin? %>
				<%=	li_link_to_unless_current 'Users', users_path %>
				<%=	li_link_to_unless_current 'Categories', categories_path %>
				<%=	li_link_to_unless_current 'Milestones', milestones_path %>
				<%=	li_link_to_unless_current 'Quick Tags', tag_favorites_path %> 
				<%=	li_link_to_unless_current 'Dashboard', dashboard_path %> 
			<% end %>
			<%= li_link_to_unless_current "Logout #{current_user.login}", logout_path if logged_in?%>
			<%= li_link_to_unless_current "Login", login_path unless logged_in?%>
			<%= li_link_to_unless_current "Create Account", signup_path unless logged_in?%>
			<%=	li_link_to_unless_current 'Groups', groups_path if admin? %>
			</div>
	   	</div>	
	   	<div id="content">
			<h1 style="border-bottom:1px solid #8B8B8B;"></h1>
			<p style="color: green"><%= flash[:notice] %></p>
			<p style="color: red"><%= flash[:warning] %></p>
			<div style="padding-left:10px;padding-top:0px">
			<%= yield  %>
			</div>
		</div>
	</div>
<script>
//$('navigation').style.height = "100px";

</script>
</body>
</html>
